{% load static %}
<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 col-6">
          <div class="footer-column">
            <a href="http://keyvansafe.com">
              <img
              src="{% static 'images/logo/keyvansafe_logo.png' %}"
              alt="Small Logo 1"
              class="small-logo"
            />
            </a>
          </div>
        </div>
        <div class="col-md-1 col-6">
          <div class="footer-column">
            <a  href="http://bazgardoon.com">
              <img
              src="{% static 'images/logo/bazgardoon_logo.png' %}"
              alt="Small Logo 2"
              class="small-logo"
            />
            </a>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="footer-column">
            <a class="footer-link" href="{% url 'us:aboutus' %}">
              <h3>درباره ما</h3>
            </a>
            <a
              class="footer-link"
              href="{% url 'services:ourservices_list' %}"
            >
              <h3>خدمات ما</h3>
            </a>
            <a class="footer-link" href="{% url 'us:customers' %}">
              <h3>مشتریان ما</h3>
            </a>
            <a class="footer-link" href="{% url 'services:article_list' %}">
              <h3>بلاگ</h3>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="footer-column">
            <a class="footer-link" href="{% url 'us:contactus' %}">
              <h3>ارتباط با ما</h3>
            </a>
            <a class="footer-link" href="{% url 'us:contactus' %}">
              <h4>اطلاعات تماس</h4>
            </a>
            <a class="footer-link" href="{% url 'us:contactus' %}">
              <h4>همکاری با ما</h4>
            </a>
            <a class="footer-link" href="{% url 'us:jobpos' %}">
              <h4>موقعیت شغلی</h4>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="footer-column">
            <a
              class="footer-link"
              href="{% url 'services:oursolutions_list' %}"
            >
              <h3>راهکارهای ما</h3>
            </a>
            <a
              class="footer-link"
              href="{% url 'services:oursolutions_list' %}#rahkar-imeni"
            >
              <h4>راهکارهای ایمنی</h4>
            </a>
            <a
              class="footer-link"
              href="{% url 'services:oursolutions_list' %}#rahkar-behdashti"
            >
              <h4>راهکارهای بهداشتی</h4>
            </a>
            <a
              class="footer-link"
              href="{% url 'services:oursolutions_list' %}#rahkar-mohiti"
            >
              <h4>راهکارهای محیط زیست</h4>
            </a>
            <a
              class="footer-link"
              href="{% url 'services:oursolutions_list' %}#rahkar-modiriati"
            >
              <h4>راهکارهای مدیریت</h4>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="footer-column">
            <a
              class="footer-link"
              href="{% url 'services:ourproducts_list' %}"
            >
              <h3>محصولات ما</h3>
            </a>
            <a
              class="footer-link"
              href="http://keyvansafe.com"
            >
              <h4>Keyvansafe</h4>
            </a>
            <a
              class="footer-link"
              href="http://bazgardoon.com"
            >
              <h4>Bazgardoon</h4>
            </a>
          </div>
        </div>
        <div class="col-md-2 col-12">
          <div class="footer-column">
            <a href="{% url 'home:home' %}"><img
              src="{% static 'images/logo/k1s_logo.png' %}"
              alt="Big Logo"
              class="big-logo"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- <footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <img
          src="images/logo/keyvansafe_logo.png"
          alt="Small Logo 1"
          class="small-logo"
        />
      </div>
      <div class="footer-column">
        <img
          src="images/logo/bazgardoon_logo.png"
          alt="Small Logo 2"
          class="small-logo"
        />
      </div>
      <div class="footer-column">
        <h3>درباره ما</h3>
        <h3>خدمات ما</h3>
        <h3>مشتریان ما</h3>
        <h3>بلاگ</h3>
      </div>
      <div class="footer-column">
        <h3>ارتباط با ما</h3>
        <h4>اطلاعات تماس</h4>
        <h4>همکاری با ما</h4>
        <h4>موقعیت شغلی</h4>
      </div>
      <div class="footer-column">
        <h3>راهکارهای ما</h3>
        <h4>راهکارهای ایمنی</h4>
        <h4>راهکارهای بهداشتی</h4>
        <h4>راهکارهای محیط زیست</h4>
        <h4>راهکارهای مدیریت</h4>
      </div>
      <div class="footer-column">
        <h3>محصولات ما</h3>
        <h4>Keyvansafe</h4>
        <h4>Bazgardoon</h4>
      </div>
      <div class="footer-column">
        <img src="images/logo/k1s_logo.png" alt="Big Logo" class="big-logo" />
      </div>
    </div>
  </footer> -->

  <!-- <footer class="site-footer">
    <div class="small-logo-container">
      <img src="images/logo/keyvansafe_logo.png" alt="Logo 1" class="logo" />
      <img src="images/logo/bazgardoon_logo.png" alt="Logo 2" class="logo" />
    </div>
    <div class="footer-box">
      <div class="footer-columns">
        <div class="footer-column">
          <ul>
            <h3>درباره ما</h3>
            <h3>درباره ما</h3>
            <h3>خدمات ما</h3>
            <h3>مشتریان ما</h3>
            <h3>بلاگ</h3>
          </ul>
        </div>
        <div class="footer-column">
          <ul>
            <h3>ارتباط با ما</h3>
            <li>اطلاعات تماس</li>
            <li>همکاری با ما</li>
            <li>موقعیت شغلی</li>
          </ul>
        </div>
        <div class="footer-column">
          <ul>
            <h3>راهکارهای ما</h3>
            <li>راهکارهای ایمنی</li>
            <li>راهکاری های بهداشتی</li>
            <li>راهکارهای محیط زیست</li>
            <li>راهکارهای مدیریت</li>
          </ul>
        </div>
        <div class="footer-column">
          <ul>
            <h3>محصولات ما</h3>
            <li>keyvanSafe</li>
            <li>Bazgardoon</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="big-logo-container">
      <img src="images/logo/k1s_logo.png" alt="Big Logo" class="big-logo" />
    </div>
    
  </footer> -->
