/* =============== home page =============== */

/* responsive navbar */

@media (max-width: 991px) {
  .nav-bar {
    flex-direction: column;
  }

  .nav-ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 10px 0;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

  .btn-mobile-nav {
    display: block;
  }

  .icon-mobile-nav {
    display: inline-block;
  }

  .nav-logo {
    display: none;
  }

  .mobile-nav-logo {
    display: block;
  }
}

@media (max-width: 1250px) {
  .nav-link {
    font-size: 12px;
  }

  .nav-item {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 6px;
  }
}

@media (max-width: 768px) {
  .solutions-container .title-box .title,
  .without-job-container .title-box .title,
  .job-container .title-box .title,
  .titles .title-box .title {
    font-size: 20px;
  }

  h2 {
    font-size: 1.3rem;
  }

  .elements {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  /* responisve latest event */

  .latest-events {
    flex-direction: column;
    align-items: center;
  }

  .square-box {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 10px 20px 10px;
  }

  .square-box img {
    width: 100%;
  }
}

@media (min-width: 786px) and (max-width: 1600px) {
  .elements {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 22%);
    gap: 15px;
  }
  .services-container h2 {
    font-size: 1.4rem;
    margin-right: 5px;
  }
}

/* responsive policy */

@media (max-width: 576px) {
  .policy {
    margin: 0;
    padding: 0;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    border-radius: 50px;
    padding: 10px;
    min-height: 420px;
  }

  .box1 img,
  .box2 img,
  .box3 img,
  .box4 img {
    padding-top: 50px;
    width: 70%;
  }

  .box1 img {
    padding-top: 70px;
  }

  .box1 h2,
  .box2 h2,
  .box3 h2,
  .box4 h2 {
    font-size: 1.1rem;
    padding-bottom: 15px;
  }

  .box1 h2 {
    padding-top: 30px;
  }
  .box1 p,
  .box2 p,
  .box3 p,
  .box4 p {
    font-size: 0.8rem;
  }
}

/* =============== product page =============== */

@media (min-width: 1200px) {
  .product-container {
    height: 70vh;
    max-height: 100%;
  }

  .product-image {
    position: absolute;
    height: 453px;
    top: 120px;
    right: 5vw;
    max-width: 50%;
  }

  .product-description {
    margin-right: 30%;
    width: 72%;
    height: 253px;
    top: 360px;
    left: 5%;
    text-align: right;
  }

  .product-title {
    margin-bottom: 10px;
  }

  .product-description-text {
    font-size: 1.125rem;
    padding: 0 1.5rem;
  }
}

/* additional sections responsive */

@media screen and (max-width: 767px) {
  .product-image,
  .product-description {
    position: relative;
    width: 100%;
    height: auto;
  }

  .product-image {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .product-description {
    background-color: rgba(240, 240, 240, 0.8);
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0;
  }

  .product-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .product-description-text {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .additional-section,
  .additional-section2 {
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
  }
  .logo-image,
  .section-image,
  .section-image2 {
    width: 100%;
    margin: 10px auto;
  }
  .section-text,
  .section-text-right,
  .section-text-left,
  .section-text-right2,
  .section-text-left2 {
    font-size: 16px;
  }
  .centered-text,
  .centered-text2 {
    text-align: center;
  }
  .section-text,
  .section-text-right,
  .section-text-left,
  .section-text-right2,
  .section-text-left2 {
    font-size: 20px;
    color: rgba(58, 58, 94, 1);
  }
  .section-image,
  .section-image2,
  .logo-image {
    width: 50%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
  }
}

@media (max-width: 576px) {
  .additional-section,
  .additional-section2 {
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
  }

  .section-text,
  .section-text-right,
  .section-text-left,
  .section-text-right2,
  .section-text-left2 {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .right-text {
    font-size: 1.5rem;
  }

  .section-text-left2 h3,
  p {
    font-size: 1rem;
    width: 100%;
    margin-left: 0;
    text-align: center;
    padding-bottom: 10px;
  }

  .section-text-left2 h2 {
    text-align: right;
    margin-right: 0;
    margin-left: 50%;
    margin-bottom: 5%;
  }

  .centered-text,
  .centered-text2 {
    font-size: 1.3rem;
    margin-right: 0;
  }
  .section-image,
  .section-image2,
  .logo-image {
    width: 50%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
  }
}

@media (min-width: 1182px) and (max-width: 1578px) {
  .centered-text2 {
    margin-right: 50%;
  }
}

@media (max-width: 576px) {
  .elements {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 15%);
    gap: 15px;
    height: auto;
  }
  .services-container h2 {
    font-size: 1rem;
    margin-right: 5px;
  }
  .services-container hr {
    width: 15%;
  }
}

@media (min-width: 576px) and (max-width: 786px) {
  .elements {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 18%);
    gap: 15px;
  }
  .services-container h2 {
    font-size: 1.3rem;
    margin-right: 5px;
  }

  .services-container hr {
    width: 10%;
  }
}

/* =============== services page =============== */

@media (max-width: 1000px) {
  .service-container,
  .service-container-reverse {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .service-container .row {
    flex-direction: column-reverse;
  }

  .service-container .left-side,
  .service-container-reverse .left-side,
  .service-container .right-side,
  .service-container-reverse .right-side {
    flex: none;
    padding: 10px;
    text-align: center;
  }

  .service-container-reverse .title-box {
    margin-left: 0;
  }

  .service-container .title-box {
    margin-right: 0;
  }

  .service-container-reverse .title-box .title,
  .service-container .title-box .title {
    text-align: center;
  }

  .service-container-reverse .text-box,
  .service-container .text-box {
    margin-right: 0;
    text-align: justify;
    padding: 1rem;
  }

  .service-container .right-side .text-box {
    margin: 0;
  }
}

/* ============== customer page ============== */

@media (max-width: 1000px) {
  .customers-container .left-side {
    text-align: center;
  }

  .customers-container .title-box .title {
    text-align: center;
  }

  .customers-container .text-box {
    padding: 1rem;
  }
}

/* ================= solutions page ================= */

@media (max-width: 1000px) {
  .solutions-container .text-box {
    padding: 1rem;
  }

  .solutions-container .text-box p {
    font-size: 14px;
    text-align: justify;
  }
  .first-item {
    flex-direction: column-reverse;
  }

  .col-lg-4 {
    width: 100%;
  }
}

/* ================== contact us page ==================  */

@media (max-width: 991px) {
  .contactus {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .google-maps iframe {
    height: 300px;
  }

  .contacts-title {
    padding: 1rem;
    font-size: 18px;
  }

  .contacts-item {
    padding: 1rem;
    font-size: 12px;
  }
}

/* question box responsive */

@media (max-width: 991px) {
  .question-box {
    padding: 5px;
  }

  .question-row {
    margin: 0.5rem;
  }

  .job-question {
    text-align: center;
    font-size: 18px;
  }

  .action-button {
    margin: auto;
  }
}

/* ================== about us page ==================  */

@media (max-width: 1000px) {
  .general-view {
    margin: 1rem;
  }

  .general-view-box {
    text-align: center;
  }

  .general-view-title {
    text-align: center;
  }

  .general-view-logo {
    width: 60%;
  }

  .second-aboutus {
    flex-direction: column-reverse;
  }

  .aboutus-container .text-box {
    padding: 30px 0;
  }

  .aboutus-container .text-box .title {
    text-align: center;
  }

  .aboutus-image {
    width: auto;
  }
}

/* =============== job detail page , not job =============== */

@media (max-width: 768px) {
  .job-detail-container {
    padding: 25px;
  }

  .job-detail-container .text-box {
    padding: 0;
  }

  .job-detail-container .text-box p {
    padding: 1rem;
  }
}

@media (max-width: 1000px) {
  /* .titles .text-box .title, */
  .without-job-container .row {
    flex-direction: column-reverse;
  }
  .jobpostitle .title-box .title {
    text-align: center;
    margin-right: 0;
    font-size: 20px;
  }

  .upload-row {
    flex-direction: column-reverse;
  }

  .job-upload-container .send-button {
    margin: 1rem 0;
    padding: 1rem;
  }
}

/* =============== blog =============== */

@media (max-width: 768px) {
  .latest-title {
    font-size: 28px;
  }
  .latest-divider {
    width: 50%;
    border: 2px solid;
  }
}

/* =============== blog detail =============== */

@media (max-width: 768px) {
  .blog-detail-container .text-box {
    padding: 1rem;
  }
}
