{% extends 'base.html' %}
{% load static %}
{% block title %}درباره ما{% endblock %}

{% block contant %}

    <div class="titles">
      <div class="col-12">
        <div class="title-box">
          <h2 class="title">درباره ما</h2>
        </div>
      </div>
    </div>

    <div class="general-view">
      <div class="row align-items-start">
        <div class="col-lg-8 col-md-12">
          <div class="general-view-box">
            <h2 class="general-view-title">نگاه کلی به سازمان</h2>
            <p class="general-view-des">
              پس از یک دهه فعالیت تخصصی در زمینه ایمنی، بهداشت، محیط زیست و
              سیستم های مدیریتی در قالب تیمی حقیقی، بر آن شدیم تا ضمن گسترش
              دامنه فعالیت ها و خدمات تخصصی، متخصصین با تجربه را نیز به جهت
              ارائه خدمات با کیفیت در قالب حقوقی گرد هم آوریم و بتوانیم نیازها و
              دغدغه های مشتریان رادر حوزه های یاد شده به بهترین شکل ممکن و
              متناسب با نیازهای آنان مرتفع سازیم. از آنجا که ارائه خدمات با
              کیفیت و تخصصی تنها با بهره گیری از منابع، دانش روز و متخصصان
              باتجربه میسر نخواهد بود، بدین منظور اقدام به اخذ مجوزهای لازم و
              مرتبط از مراجع و دستگاه های نظارتی ملی همچون وزارت بهداشت، وزارت
              کار و ... نمودیم تا بتوانیم ضمن رعایت قوانین و استاندارهای ملی،
              خدمات خود را مطابق با موازین مذکور ارائه نمائیم. این خدمات در قالب
              خدمات مشاوره ای، طراحی، اجرا، راه اندازی، نگهداری و خدمات بازرگانی
              (تهیه و توزیع اقلام و تجهیزات مرتبط با زمینه های مذکور) می باشد.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center mt-3">
          <img
            src="{% static 'images/logo/k1s_logo.png' %}"
            alt="لوگو"
            class="general-view-logo"
          />
        </div>
      </div>
    </div>
    {% for about in aboutus|slice:"0:1"  %}
    <div class="aboutus-container">
      <div class="row align-items-end">
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="عکس" />
          </div>
        </div>
        <div class="right-side col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for about in aboutus|slice:"1:2"  %}
    <div class="aboutus-container">
      <div class="row align-items-end second-aboutus">
        <div class="col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="Image" />
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for about in aboutus|slice:"2:3"  %}
    <div class="aboutus-container">
      <div class="row align-items-end">
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="عکس" />
          </div>
        </div>
        <div class="right-side col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for about in aboutus|slice:"3:4"  %}
    <div class="aboutus-container">
      <div class="row align-items-end second-aboutus">
        <div class="col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="Image" />
          </div>
        </div>
      </div>
    </div>  
    {% endfor %}
    {% for about in aboutus|slice:"4:5"  %}
    <div class="aboutus-container">
      <div class="row align-items-end">
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="عکس" />
          </div>
        </div>
        <div class="right-side col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for about in aboutus|slice:"5:6"  %}
    <div class="aboutus-container">
      <div class="row align-items-end second-aboutus">
        <div class="col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="Image" />
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for about in aboutus|slice:"6:7"  %}
    <div class="aboutus-container">
      <div class="row align-items-end">
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="عکس" />
          </div>
        </div>
        <div class="right-side col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for about in aboutus|slice:"7:8"  %}
    <div class="aboutus-container">
      <div class="row align-items-end second-aboutus">
        <div class="col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="Image" />
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for about in aboutus|slice:"8:9"  %}
    <div class="aboutus-container">
      <div class="row align-items-end">
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="عکس" />
          </div>
        </div>
        <div class="right-side col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {% for about in aboutus|slice:"9:10"  %}
    <div class="aboutus-container">
      <div class="row align-items-end second-aboutus">
        <div class="col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="Image" />
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for about in aboutus|slice:"10:11"  %}
    <div class="aboutus-container">
      <div class="row align-items-end">
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="عکس" />
          </div>
        </div>
        <div class="right-side col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for about in aboutus|slice:"11:12"  %}
    <div class="aboutus-container">
      <div class="row align-items-end second-aboutus">
        <div class="col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="Image" />
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for about in aboutus|slice:"12:13"  %}
    <div class="aboutus-container">
      <div class="row align-items-end">
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{{ about.image.url }}" alt="عکس" />
          </div>
        </div>
        <div class="right-side col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">{{ about.title }}</h2>
            <p>
              {{ about.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

   {% endblock %}