{% extends 'base.html' %}
{% load static %}
{% block title %}درباره ما{% endblock %}

{% block contant %}

    <div class="titles">
      <div class="col-12">
        <div class="title-box">
          <h2 class="title">درباره ما</h2>
        </div>
      </div>
    </div>

    <div class="general-view">
      <div class="row align-items-start">
        <div class="col-lg-8 col-md-12">
          <div class="general-view-box">
            <h2 class="general-view-title">نگاه کلی به سازمان</h2>
            <p class="general-view-des">
              پس از یک دهه فعالیت تخصصی در زمینه ایمنی، بهداشت، محیط زیست و
              سیستم های مدیریتی در قالب تیمی حقیقی، بر آن شدیم تا ضمن گسترش
              دامنه فعالیت ها و خدمات تخصصی، متخصصین با تجربه را نیز به جهت
              ارائه خدمات با کیفیت در قالب حقوقی گرد هم آوریم و بتوانیم نیازها و
              دغدغه های مشتریان رادر حوزه های یاد شده به بهترین شکل ممکن و
              متناسب با نیازهای آنان مرتفع سازیم. از آنجا که ارائه خدمات با
              کیفیت و تخصصی تنها با بهره گیری از منابع، دانش روز و متخصصان
              باتجربه میسر نخواهد بود، بدین منظور اقدام به اخذ مجوزهای لازم و
              مرتبط از مراجع و دستگاه های نظارتی ملی همچون وزارت بهداشت، وزارت
              کار و ... نمودیم تا بتوانیم ضمن رعایت قوانین و استاندارهای ملی،
              خدمات خود را مطابق با موازین مذکور ارائه نمائیم. این خدمات در قالب
              خدمات مشاوره ای، طراحی، اجرا، راه اندازی، نگهداری و خدمات بازرگانی
              (تهیه و توزیع اقلام و تجهیزات مرتبط با زمینه های مذکور) می باشد.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center mt-3">
          <img
            src="{% static 'images/logo/k1s_logo.png' %}"
            alt="لوگو"
            class="general-view-logo"
          />
        </div>
      </div>
    </div>

    <div class="aboutus-container">
      <div class="row align-items-end">
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{% static 'images/aboutus1.png' %}" alt="عکس" />
          </div>
        </div>
        <div class="right-side col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">چشم انداز</h2>
            <p>
              در نظر داریم تا سال 1403 شبکه خدمات EHSM خود را در سراسر ایران
              گسترش دهیم و خدمات تخصصی خود را به 25% از صنایع و بنگاههای کسب و
              کار سطح کشور عرضه نمائیم.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="aboutus-container">
      <div class="row align-items-end second-aboutus">
        <div class="col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">ماموریت</h2>
            <p>
              ماموریت ما در نام ما نهفته است. ما برآنیم تا حفاظت از محیط زیست را
              بعنوان اولویت اهداف، استراتژی کسب و کار خود قرار دهیم و همواره
              محصولات و خدمات دوستدار محیط زیست تولید و ارائه نمائیم؛ و بتوانیم
              در این راه همکاران و مشتریان خود را نیز با این اصل همسو سازیم.
            </p>
          </div>
        </div>
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{% static 'images/aboutus2.png' %}" alt="Image" />
          </div>
        </div>
      </div>
    </div>

    <div class="aboutus-container">
      <div class="row align-items-end">
        <div class="left-side col-lg-5 col-md-12">
          <div class="aboutus-image">
            <img src="{% static 'images/aboutus3.png' %}" alt="عکس" />
          </div>
        </div>
        <div class="right-side col-lg-7 col-md-12">
          <div class="text-box">
            <h2 class="title">مسئولیت / اجتماعی</h2>
            <p>
              ماموریت ما در نام ما نهفته است. ما برآنیم تا حفاظت از محیط زیست را
              بعنوان اولویت اهداف، استراتژی کسب و کار خود قرار دهیم و همواره
              محصولات و خدمات دوستدار محیط زیست تولید و ارائه نمائیم؛ و بتوانیم
              در این راه همکاران و مشتریان خود را نیز با این اصل همسو سازیم.
            </p>
          </div>
        </div>
      </div>
    </div>

   {% endblock %}