{% extends 'base.html' %}
{% load static %}
{% block title %}ارتباط با ما{% endblock %}

{% block contant %}

    <div class="titles">
      <div class="col-12">
        <div class="title-box">
          <h2 class="title">ارتباط با ما</h2>
        </div>
      </div>
    </div>

    <section class="contactus">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="google-maps">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d775.8337928269275!2d50.910146993682886!3d35.82149045924418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dbc3fc505fa65%3A0xe1ff173c3b247c34!2sAlborz%20Province%2C%20Karaj%2C%2022%20Bahman%20St%2C%20Iran!5e0!3m2!1sen!2sfr!4v1692482196948!5m2!1sen!2sfr"
              ></iframe>
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="contacts rtl-text">
              <li class="contacts-title">اطلاعات تماس</li>
              <li class="contacts-item tel">
                  <a href="tel:02633324888">02633324888</a>
              </li>
              <li class="contacts-item whatsapp">
                  <a href="https://wa.me/989336002507">09336002507</a>
              </li>
              <li class="contacts-item email">info@KeyvanSolutions.com</li>
              <li class="contacts-item address">
                  البرز کرج مهرشر بلوار ارم خیابان ۲۲ بهمن پلاک ۶۴ واحد ۱   
              </li>
              <li class="contacts-item postalcode">۳۱۸۶۶۸۸۸۱۶</li>
          </ul>          
          </div>
        </div>
      </div>
    </section>

    <div class="container-fluid question-box">
      <div class="row question-row">
        <div class="col-lg-5 question-col">
          <h2 class="job-question">آیا درخواست همکاری با ما را دارید؟</h2>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-2 action-col">
          <button class="action-button">
            <a href="#">بله</a>
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid question-box">
      <div class="row question-row">
        <div class="col-lg-5 question-col">
          <h2 class="job-question">آیا به دنبال موقعیت شغلی هستید؟</h2>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-2 action-col">
          <button class="action-button">
            <a href="{% url 'us:jobpos' %}">بله</a>
          </button>
        </div>
      </div>
    </div>

  {% endblock %}