{% extends 'base.html' %}
{% load static %}
{% block title %}مشتریان ما{% endblock %}

{% block contant %}

    <div class="titles">
      <div class="col-12">
        <div class="title-box">
          <h2 class="title">مشتریان</h2>
        </div>
      </div>
    </div>


    <div class="customers-container">
      <div class="row">
        {% for customer in customers %}
        <div class="customeer col-md-4 col-sm-6">
            <div class="left-side">
              <img src="{{ customer.logo.url }}" alt="عکس" />
            </div>
            <div class="right-side">
              <div class="title-box">
                <h2 class="title">{{ customer.title }}</h2>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>

  {% endblock %}
