{% extends 'base.html' %} {% load static %} {% load static %} {% load static %}
{% block title %}{{ jobpos.title }}{% endblock %} {% block contant %}

<div class="jobpostitle">
  <div class="col-12">
    <div class="title-box">
      <h2 class="title">{{ jobpos.title }}</h2>
    </div>
  </div>
</div>

<div class="job-detail-container">
  <div class="row align-items-start">
    <div class="right-side col-lg-12">
      <div class="title-box">
        <h2 class="title">توضیحات</h2>
      </div>
      <div class="text-box">
        <p>{{ jobpos.description }}</p>
      </div>
    </div>
  </div>
</div>
<hr class="divider" />
<div class="job-detail-container">
  <div class="row align-items-start">
    <div class="right-side col-lg-12">
      <div class="title-box">
        <h2 class="title">نیازمندی ها</h2>
      </div>
      <div class="row">
        <div class="text-box col-lg-5">
          <p>{{ jobpos.description_requirements }}</p>
        </div>
        <div class="col-lg-7"></div>
      </div>
    </div>
  </div>
</div>
<hr class="divider" />
<div class="job-detail-container">
  <div class="row align-items-start">
    <div class="right-side col-lg-12">
      <div class="title-box">
        <h2 class="title">مزایا</h2>
      </div>
      <div class="row">
        <div class="text-box col-lg-5">
          <p>{{ jobpos.description_advantages}}</p>
        </div>
        <div class="col-lg-7"></div>
      </div>
    </div>
  </div>
</div>

{% comment %}
<div class="job-upload-container">
  <form
    method="post"
    enctype="multipart/form-data"
    action="{% url 'us:jobdetail' %}"
  >
    {% csrf_token %}
    <div class="row align-items-center upload-row">
      {{ form }}
      <div class="col-lg-6"></div>
      <button type="submit" id="form-submit" class="col-lg-2 send-button">
        <p>
          <label for="id_resume">آپلود رزومه:<img style="background-color: rgba(147, 75, 148, 1); border-radius: 15px;" src="{% static 'images/upload.png' %}" alt="عکس" /></label>
          <input style="display: none;" type="file" name="resume" required="" id="id_resume">
        </p>
      </button>
      <div class="col-lg-1"></div>
      <button style="background-color: rgba(147, 75, 148, 1);" type="submit" id="form-submit" class="col-lg-2 send-button">
        <img src="{% static 'images/send.png' %}" alt="عکس" />
      </button>
      <div class="col-lg-2 col-6 upload-text">
        <div class="title-box">
          <p class="title">
            <label for="id_title">نام:</label>
            <input type="text" name="title" maxlength="200" required="" id="id_title">
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
{% endcomment %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-container">
    <div class="input-container col-6">
      <p class="title">
        <label for="id_title">نام:</label>
          <input style="border-radius: 5px;  background-color: #f0f0f0;" class="title-input" type="text" name="title" maxlength="200" required="" id="id_title">
      </p>
    </div>
  </div>
    <button type="submit" id="form-submit" class="col-lg-2 send-button">
      <label style="color: #fff; font-size: 20px;" for="id_resume">آپلود رزومه<img style="background-color: rgba(147, 75, 148, 1); border-radius: 15px;" src="{% static 'images/upload.png' %}" alt="عکس" /></label>
      <input style="display: none;" type="file" name="resume" required="" id="id_resume">
  </button>
  <button style="background-color: rgba(147, 75, 148, 1);" type="submit" id="form-submit" class="col-lg-2 send-button">
    <img src="{% static 'images/send.png' %}" alt="عکس" />
  </button>
</form>


  <!-- <p>
    <label for="id_resume">آپلود رزومه:<img style="background-color: rgba(147, 75, 148, 1); border-radius: 15px;" src="{% static 'images/upload.png' %}" alt="عکس" /></label>
    <input style="display: none;" type="file" name="resume" required="" id="id_resume">
  </p>
  <button style="background-color: rgba(147, 75, 148, 1);" type="submit" id="form-submit" class="col-lg-2 send-button">
    <img src="{% static 'images/send.png' %}" alt="عکس" />
  </button>
</form> -->


<!-- <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-lg-2 col-6 upload-text">
    <div class="title-box">
      <p class="title">
        <label for="id_title">نام:</label>
        <div class="input-center"> {# Create a container to center-align the input field #}
          <input class="title-input" type="text" name="title" maxlength="200" required="" id="id_title">
        </div>
      </p>
    </div>
  </div>
  <button type="submit" id="form-submit" class="col-lg-2 send-button">
      <label style="color: #fff; font-size: 20px;" for="id_resume">آپلود رزومه<img style="background-color: rgba(147, 75, 148, 1); border-radius: 15px;" src="{% static 'images/upload.png' %}" alt="عکس" /></label>
      <input style="display: none;" type="file" name="resume" required="" id="id_resume">
  </button>
  
  <button style="background-color: rgba(147, 75, 148, 1);" type="submit" id="form-submit" class="col-lg-2 send-button">
    <img src="{% static 'images/send.png' %}" alt="عکس" />
  </button>
</form> -->
{% endblock %}
