{% extends 'base.html' %}
{% load static %}
{% block title %}موقعیت شغلی{% endblock %}

{% block contant %}

    <div class="titles">
      <div class="col-12">
        <div class="title-box">
          <h2 class="title">موقعیت شغلی</h2>
        </div>
      </div>
    </div>

    <div class="without-job-container">
      <div class="row align-items-center">
        <div class="col-lg-4 side">
          <img src="{% static 'images/position.png' %}" alt="عکس" />
        </div>
        <div class="col-lg-8">
          <div class="title-box">
            <h2 class="title">در حال حاضر موقعیت شغلی قرار داده نشده است</h2>
          </div>
        </div>
      </div>
    </div>

   {% endblock %}