{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <script
      src="https://code.jquery.com/jquery-2.2.0.min.js"
      type="text/javascript"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.4.0/collection/components/icon/icon.min.css"
    />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    /> -->
    <script src="{% static 'js/script.js' %}"></script>
    
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <title>workwithus</title>
  </head>

  <body class="body">
    <div class="loading-screen">
      <div class="loading-icon">
        <img
          src="{% static 'images/logo/k1s_logo.png' %}"
          alt="Your Logo"
          class="logo"
        />
      </div>
    </div>

    <header style="display: none">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link" href="{% url 'home:home' %}">
              <img
                src="{% static 'images/logo/k1s_logo.png' %}"
                alt="logo"
                class="mobile-nav-logo"
              />
            </a>
            <div
              class="nav-bar collapse navbar-collapse"
              id="navbarTogglerDemo01"
            >
              <ul class="nav-ul">
                <li class="nav-item-logo">
                  <a class="nav-link" href="{% url 'home:home' %}">
                    <img
                      src="{% static 'images/logo/k1s_logo.png' %}"
                      alt="logo"
                      class="nav-logo"
                    />
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="{% url 'services:ourproducts_list' %}">محصولات</a>
                </li>
                <li class="nav-item nav-item dropdown">
                  <a class="nav-link" href="{% url 'services:ourservices_list' %}">خدمات</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'us:customers' %}">مشتریان</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="{% url 'services:oursolutions_list' %}">راهکارهای ما</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'services:oursolutions_list' %}#rahkar-imeni">راهکارهای ایمنی</a></li>
                    <li><a href="{% url 'services:oursolutions_list' %}#rahkar-behdashti">راهکارهای بهداشتی</a></li>
                    <li><a href="{% url 'services:oursolutions_list' %}#rahkar-mohiti">راهکارهای محیط زیست</a></li>
                    <li><a href="{% url 'services:oursolutions_list' %}#rahkar-modiriati">راهکارهای مدیریت</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="{% url 'us:contactus' %}"
                    >ارتباط با ما</a
                  >
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'us:workus' %}">درخواست همکاری</a></li>
                    <li><a href="{% url 'us:jobpos' %}">موقعیت شعلی</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'us:aboutus' %}">درباره ما</a>
                </li>
              </ul>
              <span class="nav-item">
                <form class="d-flex ml-auto" role="search" action="{% url 'services:search_blog' %}">
                  <button type="submit" class="search-icon btn btn-link">
                    <i class="fas fa-search"></i>
                  </button>
                  <input
                    class="form-control me-2"
                    name="q"
                    type="search"
                    placeholder="جست و جو کنید"
                    aria-label="Search"
                  />
                </form>
              </span>
            </div>
          </div>
        </nav>
    </header>

<body>
    <div class="titles">
        <div class="col-12">
          <div class="title-box">
            <h2 class="title">درخواست همکاری</h2>
          </div>
        </div>
      </div>
    <div style="padding: 2%;" class="container">
        <form  method="post" onsubmit="submitted();">
            <div class="row" >
              {% csrf_token %}
              <input type="hidden" name="token" value="{{ token }}">

              <div id="personal_info" class="col-md-12">
                <div class="form-group mt-2" style="width: 49%;">
                    <label for="name">زمینه فعالیت</label>
                    {{ form.field_of_activity }}
                </div>
              </div>

                <!-- first col -->
                <div id="personal_info" class="col-md-6">
                    <!-- Name -->
                    <div class="form-group mt-2">
                        <label for="name">نام و نام خانوادگی</label>
                        {{ form.full_name }}
                        
                    </div>

                    <!-- Email -->
                    <div class="form-group mt-2">
                        <label for="email">ایمیل</label>
                        {{ form.email }}
                        
                        
                    </div>

                </div>

                <!-- second col -->
                <div id="professional_info" class="col-md-6">

                    <!-- Contact -->
                    <div class="form-group mt-2">
                        <label for="contact">تلفن ثابت</label>
                        {{ form.landlineـphone }}
                        
                    </div>
                      <!-- Contact -->
                    <div class="form-group mt-2">
                        <label for="contact">تلفن همراه</label>
                        {{ form.cellular_phone }}
                        
                    </div>
                  
                </div>

            </div>
                  <div class="row">

                <!-- first col -->
                <div id="personal_info" class="col-md-6">
                    <!-- Name -->
                        <!-- experience -->
                    <div class="form-group mt-2">
                        <label for="contact">زمینه فعالیت</label>
                        {{ form.area_of_activity }}
                        
                    </div>
                </div>

                <!-- second col -->
                <div id="professional_info" class="col-md-6">

                     <!-- service/product -->
                    <div class="form-group mt-2">
                        <label for="contact">محصول / خدمات </label>
                        {{ form.prudoct }}
                       
                    </div>
 
                </div>

            </div>
        <div class="row">

                <!-- first col -->
                <div id="personal_info" class="col-md-6">
                    <!-- Name -->
                    <div class="form-group mt-2">
                        <label for="name">استان</label>
                        {{ form.state }}
                        
                    </div>
                </div>

                <!-- second col -->
                <div id="professional_info" class="col-md-6">

                    <!-- Contact -->
                    <div class="form-group mt-2">
                        <label for="contact">شهر</label>
                        {{ form.city }}
                        
                    </div>


                </div>

            </div>
            <div class="row">
                <!-- second col -->
                <div id="professional_info" class="col-md-12">

                    <!-- Address -->
                    <div class="form-group mt-2">
                        <label for="address">آدرس</label>
                        {{form.address}}
                        
                    </div>
                  
                </div>  

            </div>
            <div class="row">
                <!-- second col -->
                <div id="professional_info" class="col-md-12">
                <div class="form-group mt-2">
                        <label style="color: #000000; font-size: 20px;" for="id_resume">آپلود رزومه<img style="background-color: rgba(147, 75, 148, 1); border-radius: 15px;" src="{% static 'images/upload.png' %}" alt="عکس" /></label>
                        <input style="display: none;" type="file" name="resume" required="" id="id_resume">
                    </div>
                  
                </div>  

            </div>
            <div class="container text-center m-5">
              <button style="width: 20%; font-size: 30px; background-color:  rgba(147, 75, 148, 1);" class="btn btn-primary" name="submit" type="submit">ارسال</button>
          </div>
        </form>
        
    </div>

    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>