{% extends 'base.html' %}
{% load static %}
{% block title %}بلاگ{% endblock %}

{% block contant %}

    <div class="latest-blog">
      <h1 class="latest-title">آخرین بلاگ ها</h1>
      <hr class="latest-divider" />
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-right mt-4">
          <label class="mr-2" for="filterDropdown">فیلتر : </label>
          <select class="form-control d-inline-block w-auto" id="filterDropdown" onchange="applyFilter(this.value)">
            <option value="newest">جدید ترین</option>
            <option value="oldest">قدیمی ترین</option>
          </select>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        {% for article in articles %}
        <div class="col-md-4 col-sm-6">
          <a href="{{ article.get_absolute_url }}" class="blog-post-link">
            <div class="bolg-post">
              <img src="{{ article.image.url }}" alt="عکس" class="blog-image" />
              <h2 class="bolg-title">{{ article.title }}</h2>
              <p class="blog-des">{{ article.description }}
              </p>
              <h3 class="blog-date">{{ article.publish }}</h3>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    
   

  {% endblock %}