{% extends 'base.html' %}
{% load static %}
{% block title %}خدمات{% endblock %}

{% block contant %}

    <div class="product-container">
      <img
        src="{% static 'images/services.png' %}"
        alt="محصول"
        class="product-image"
      />
      <div class="product-description">
        <h2 class="product-title">خدمات ما</h2>
        <p class="product-description-text">
          موفقیت در بازارهای ملی و بین‌المللی علاوه بر رعایت استاندارهای روز،
          مستلزم ارائه خدمات و محصولاتی دارای ویژگی‌هایی همچون در دسترس بودن،
          سهولت کاربری، صرفه اقتصادی، رفع بخشی از نیازهای افراد، ایجاد ارزش
          افزوده برای افراد و ... می‌باشد. لذا با تکیه بر این اصول و تعهد به
          اصول زیست محیطی که همواره سرلوحه فعالیت‌ها، خدمات و محصولات شرکت
          می‌باشد، بر آن شدیم تا ضمن ورود به این عرصه، محصولات خود را در 2 حوزه
          به شرح زیر ارائه نمائیم
        </p>
      </div>
    </div>
    {% for service in services|slice:":1"  %}
    <div id="element1" class="service-container">
      <div class="row align-items-start">
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        
      </div>
    </div>
    {% endfor %}
    {% for service in services|slice:"1:2"  %}
    <div id="element3" class="service-container-reverse">
      <div class="row align-items-start">
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {% for service in services|slice:"2:3"  %}
    <div id="element2" class="service-container">
      <div class="row align-items-start">
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        
      </div>
    </div>
    {% endfor %}
    {% for service in services|slice:"3:4"  %}
    <div id="element4" class="service-container-reverse">
      <div class="row align-items-start">
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for service in services|slice:"4:5"  %}
    <div id="element6" class="service-container">
      <div class="row align-items-start">
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        
      </div>
    </div>
    {% endfor %}
    {% for service in services|slice:"5:6"  %}
    <div id="element5" class="service-container-reverse">
      <div class="row align-items-start">
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for service in services|slice:"6:7"  %}
    <div id="element7" class="service-container">
      <div class="row align-items-start">
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        
      </div>
    </div>
    {% endfor %}

    {% for service in services|slice:"7:8"  %}
    <div class="service-container-reverse">
      <div class="row align-items-start">
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for service in services|slice:"8:9"  %}
    <div class="service-container">
      <div class="row align-items-start">
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        
      </div>
    </div>
    {% endfor %}
    {% for service in services|slice:"9:10"  %}
    <div class="service-container-reverse">
      <div class="row align-items-start">
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for service in services|slice:"10:11"  %}
    <div class="service-container">
      <div class="row align-items-start">
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">{{ service.title }}</h2>
          </div>
          <div class="text-box">
            <p>
              {{ service.description }}
            </p>
          </div>
        </div>
        <div class="left-side col-lg-6">
          <img src="{{ service.image.url }}" alt="عکس" />
        </div>
        
      </div>
    </div>
    {% endfor %}

   {% endblock %}