{% extends 'base.html' %}
{% load static %}
{% block title %}خدمات{% endblock %}

{% block contant %}

    <div class="product-container">
      <img
        src="{% static 'images/services.png' %}"
        alt="محصول"
        class="product-image"
      />
      <div class="product-description">
        <h2 class="product-title">خدمات ما</h2>
        <p class="product-description-text">
          موفقیت در بازارهای ملی و بین‌المللی علاوه بر رعایت استاندارهای روز،
          مستلزم ارائه خدمات و محصولاتی دارای ویژگی‌هایی همچون در دسترس بودن،
          سهولت کاربری، صرفه اقتصادی، رفع بخشی از نیازهای افراد، ایجاد ارزش
          افزوده برای افراد و ... می‌باشد. لذا با تکیه بر این اصول و تعهد به
          اصول زیست محیطی که همواره سرلوحه فعالیت‌ها، خدمات و محصولات شرکت
          می‌باشد، بر آن شدیم تا ضمن ورود به این عرصه، محصولات خود را در 2 حوزه
          به شرح زیر ارائه نمائیم
        </p>
      </div>
    </div>

    <div class="service-container">
      <div class="row align-items-start">
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">مدیریت پسماند</h2>
          </div>
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
        <div class="left-side col-lg-6">
          <img src="{% static 'images/Rectangle-1.png' %}" alt="عکس" />
        </div>
      </div>
    </div>

    <div class="service-container-reverse">
      <div class="row align-items-start">
        <div class="left-side col-lg-6">
          <img src="{% static 'images/Rectangle-2.png' %}" alt="عکس" />
        </div>
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">تولید و تامین تجهیزات حفاظت فردی</h2>
          </div>
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="service-container">
      <div class="row align-items-start">
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">شارژ کپسول آتش نشانی</h2>
          </div>
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
        <div class="left-side col-lg-6">
          <img src="{% static 'images/Rectangle-3.png' %}" alt="عکس" />
        </div>
      </div>
    </div>

    <div class="service-container-reverse">
      <div class="row align-items-start">
        <div class="left-side col-lg-6">
          <img src="{% static 'images/Rectangle-4.png' %}" alt="عکس" />
        </div>
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">خدمات مشاوره</h2>
          </div>
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="service-container">
      <div class="row align-items-start">
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">سمپاشی</h2>
          </div>
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
        <div class="left-side col-lg-6">
          <img src="{% static 'images/Rectangle-5.png' %}" alt="عکس" />
        </div>
      </div>
    </div>

    <div class="service-container-reverse">
      <div class="row align-items-start">
        <div class="left-side col-lg-6">
          <img src="{% static 'images/Rectangle-6.png' %}" alt="عکس" />
        </div>
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">خدمات اداری</h2>
          </div>
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="service-container">
      <div class="row align-items-start">
        <div class="right-side col-lg-6">
          <div class="title-box">
            <h2 class="title">استقرار سیستم های مدیریتی</h2>
          </div>
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
        <div class="left-side col-lg-6">
          <img src="{% static 'images/Rectangle-7.png' %}" alt="عکس" />
        </div>
      </div>
    </div>

   {% endblock %}