{% extends 'base.html' %}
{% load static %}
{% block title %}راهکارهای ما{% endblock %}

{% block contant %}

    <div class="titles">
      <div class="col-12">
        <div class="title-box">
          <h2 class="title">راهکارهای ما</h2>
        </div>
      </div>
    </div>

    <div  id="rahkar-imeni" class="solutions-container text-center">
      <div class="row align-items-end">
        <div class="col-lg-4 side">
          <img src="{% static 'images/solutions-1.png' %}" alt="عکس" />
        </div>
        <div class="col-lg-4">
          <div class="title-box">
            <h2 class="title">راهکار های ایمنی</h2>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="rahkar-behdashti" class="solutions-container text-center">
      <div class="row align-items-end first-item">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="title-box">
            <h2 class="title">راهکار های بهداشتی</h2>
          </div>
        </div>
        <div class="col-lg-4 side">
          <img src="{% static 'images/solutions-2.png' %}" alt="عکس" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="rahkar-mohiti" class="solutions-container text-center">
      <div class="row align-items-end">
        <div class="col-lg-4 side">
          <img src="{% static 'images/solutions-3.png' %}" alt="عکس" />
        </div>
        <div class="col-lg-4">
          <div class="title-box">
            <h2 class="title">راهکار های محیط زیستی</h2>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="rahkar-modiriati" class="solutions-container text-center">
      <div class="row align-items-end first-item">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="title-box">
            <h2 class="title">راهکار های مدیریتی</h2>
          </div>
        </div>
        <div class="col-lg-4 side">
          <img src="{% static 'images/solutions-4.png' %}" alt="عکس" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-box">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
              جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
              طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
              فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
              موجود در
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
