{% extends 'base.html' %}
{% load static %}
{% block title %}راهکارهای ما{% endblock %}

{% block contant %}

    <div class="titles">
      <div class="col-12">
        <div class="title-box">
          <h2 class="title">راهکارهای ما</h2>
        </div>
      </div>
    </div>
    {% for solution in solutions|slice:"0:1"  %}
    <div  id="rahkar-imeni" class="solutions-container text-center">
      <div class="row align-items-end">
        <div class="col-lg-4 side">
          <img src="{{ solution.image.url }}" alt="عکس" />
        </div>
        <div class="col-lg-4">
          <div class="title-box">
            <h2 class="title">{{ solution.title }}</h2>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-box">
            <p>
              {{ solution.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for solution in solutions|slice:"1:2"  %}
    <div id="rahkar-behdashti" class="solutions-container text-center">
      <div class="row align-items-end first-item">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="title-box">
            <h2 class="title">{{ solution.title }}</h2>
          </div>
        </div>
        <div class="col-lg-4 side">
          <img src="{{ solution.image.url }}" alt="عکس" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-box">
            <p>
              {{ solution.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for solution in solutions|slice:"2:3"  %}
    <div id="rahkar-mohiti" class="solutions-container text-center">
      <div class="row align-items-end">
        <div class="col-lg-4 side">
          <img src="{{ solution.image.url }}" alt="عکس" />
        </div>
        <div class="col-lg-4">
          <div class="title-box">
            <h2 class="title">{{ solution.title }}</h2>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-box">
            <p>
              {{ solution.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for solution in solutions|slice:"3:4"  %}
    <div id="rahkar-modiriati" class="solutions-container text-center">
      <div class="row align-items-end first-item">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="title-box">
            <h2 class="title">{{ solution.title }}</h2>
          </div>
        </div>
        <div class="col-lg-4 side">
          <img src="{{ solution.image.url }}" alt="عکس" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-box">
            <p>
              {{ solution.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}
